@charset "utf-8";

.category-title{
    font-size: 40px;
    text-align: center;
}
/* color: #FFC924; */
.category-button>button {
    width: 150px;
    height: 80px;
    font-size: 20px;
    color:black;
    background-color: #F3F3F3;
    border-radius: 30px;
    margin:auto;

}


.item_center {
    margin:auto;
}



