@charset "utf-8";
.sub_nav_title {
    position: relative;
}
.sub_nav_cont {
    position: absolute;
    transform: translateY(6px);
    z-index: 1;
    background-color: #FFC924;
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,.1);
    padding: 20px;
    width: 123px;
}

.sub_nav_cont>li {
    margin: 0  0 8px;
}
.sub_nav_cont>li:last-child {
    margin-bottom: 0;
    
}

.sub_nav_cont>li>a:hover {
    border-bottom: 1px solid rgba(0,0,0,.5);
}
