<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- 공통 환경설정 -->
    <th:block th:replace="/fragments/fragment_config :: configFragment"></th:block>
    <title>fragment_grr</title>

</head>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

<!-- 헤더 -->
<th:block th:replace="/fragments/fragment_header :: headerFragment"></th:block>


<!-- 푸터 -->
<th:block th:replace="/fragments/fragment_footer :: footerFragment"></th:block>







</body>

</html>
