<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 공통 환경설정 -->
    <th:block th:replace="~{fragments/fragment_config :: configFragment}" />

    <link rel="stylesheet" href="/css/notice.css">
    <link rel="stylesheet" href="/css/admin-item.css">
    <title>그르릉Grr - 관리자만 접근이 가능합니다</title>
</head>
<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

<!-- 헤더 -->
<th:block th:replace="~{fragments/fragment_header :: headerFragment}" />

    <section class="bg-white py-8 notice">
        <div class="container mx-auto items-center flex-wrap pt-4 pb-12">

            <!-- /* 페이지 내부 서브 타이틀 */ -->
            <h2 class="category-title bg-white py-8 ">상품 정보 수정</h2>

            <div class="w-full container mx-auto mt-0 px-2 py-3 ">
                <div class="category-button button_wrap flex itmes-center">
                    <a href="/admin">상품등록</a>
                    <a href="/update-item">상품수정</a>
                    <a href="#">메뉴</a>
                    <a href="#">메뉴</a>
                </div>
            </div>
        </div>
    </section>




<section class="bg-white py-8 notice">
    <div class="container mx-auto items-centerpt-4 pb-12">

        <article class="item-register">
            <table>
                <form action="/newItem" method="post" enctype="multipart/form-data">

                    <tr>
                        <th>
                            <label>카테고리</label>
                        </th>

                       <td>
                            <select class="mainCategory" name="mainCategory">
                                <option value="" disabled selected>카테고리</option>
                                <th:block th:each="category : ${cateList}">
                                    <option th:text="${category.cateTop}" th:value="${category.cateTop}"></option>
                                </th:block>
                            </select>

                            <select class="subCategory" name="cateCode">
                                <option value="" selected disabled>------</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th>상품명</th>
                        <td><input type="text" name="itemName" placeholder="상품명" th:value="${item.ITEM_NAME}"></td>
                    </tr>

                    <tr>
                        <th>품번</th>
                        <td><input type="text" name="itemId" placeholder="숫자만 입력 가능" th:value="${item.ITEM_ID}" readonly></td>
                    </tr>

                    <tr>
                        <th>단가</th>
                        <td><input type="text" name="itemPrice" placeholder="' , '을 제외한 숫자만 입력" th:value="${item.ITEM_PRICE}"><span>원</span></td>
                    </tr>

                    <tr>
                        <th>판매상태</th>
                        <td>
                            <select name="itemSellStatus">
                                <option>sell</option>
                                <option>sold out</option>
                            </select>

                        </td>
                    </tr>


<!--                    <tr>-->
<!--                        <th>재고</th>-->
<!--                        <td><input type="text" name="itemAmount" placeholder="숫자만 입력"><span>개</span></td>-->
<!--                    </tr>-->

                    <tr>
                        <th>상품 설명</th>
                        <td>
                            <textarea id="InputTextarea" name="itemDetail" cols="5" rows="1"
                                      th:text="${item.ITEM_DETAIL}" style="width:98%;height:280px;"></textarea>
                        </td>
                    </tr>


<!--                    <tr>-->
<!--                        <th>상품 대표이미지<br>(슬라이드)</th>-->
<!--                        <td>-->
<!--                            <div class="filebox">-->
<!--                                <label for="uploadfiles" name="uploadfiles" class="custom-file-upload">-->
<!--&lt;!&ndash;                                    <span>파일찾기</span>&ndash;&gt;-->
<!--                                    <input type="file" name="uploadfiles" id="uploadfiles" multiple >-->
<!--                                </label>-->
<!--                                <p>※ 대표이미지(썸네일)을 선택해주세요.</p>-->
<!--                            </div>-->

<!--                            <div>-->
<!--                                <img class="preview">-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->

<!--                    <tr>-->
<!--                        <th>상세정보 이미지</th>-->
<!--                        <td>-->
<!--                            <div class="filebox" multiple="f  ">-->
<!--                                <label for="uploadfiles" class="custom-file-upload">-->
<!--&lt;!&ndash;                                    <span>파일찾기</span>&ndash;&gt;-->
<!--                                    <input type="file" name="uploadfiles" multiple >-->
<!--                                </label>-->
<!--                                <p>※ 상세정보에 나타낼 이미지 파일을 선택해주세요.</p>-->
<!--                            </div>-->

<!--                            <div>-->
<!--                                <img class="preview">-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->


                    <tr>
                        <td colspan="2">
                            <button type="submit">등록</button>
                            <button type="reset">취소</button>
                        </td>
                    </tr>

                </form>
            </table>
        </article>
    </div>

</section>
<script src="/js/admin-item-update.js"></script>

<!-- 푸터 -->
<th:block th:replace="~{fragments/fragment_footer :: footerFragment}" />
</body>
</html>