<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- 공통 환경설정 -->
    <th:block th:replace="~{/fragments/fragment_config :: configFragment}" />

    <link rel="stylesheet" href="/css/notice.css">
    <link rel="stylesheet" href="/css/admin-item.css">
    <title>그르릉Grr - 관리자만 접근이 가능합니다</title>
</head>
<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

<!-- 헤더 -->
<th:block th:replace="~{/fragments/fragment_header :: headerFragment}" />
<h2 class="category-title bg-white py-8 ">상품 등록</h2>


<section class="bg-white py-8 notice">
    <div class="container mx-auto items-centerpt-4 pb-12">

        <article class="qna">



            <table>
                <colgroup>
                    <col style="width:25%">
                    <col style="width:75%">
                </colgroup>
                <tbody>
                <tr>

                    <th>
                        <label>카테고리</label>
                    </th>

                    <td>
                        <select>
                            <option value="" disabled selected>카테고리</option>
                            <option value="1">LIVING</option>
                            <option value="2">WALKING</option>
                            <option value="3">FOOD</option>
                        </select>

                        <select>
                            <option value="" disabled selected>카테고리2</option>
<!--                            <option th:each="cateList: ${cateList}" th:value="${cateList}" th:text="${}"></option>-->
                            <option value="1">cate1</option>
                            <option value="2">cate2</option>
                            <option value="3">cate3</option>
                        </select>
                    </td>
                </tr>


                <tr>
                    <th>내용</th>
                    <td>
                        <textarea id="InputTextarea" name="inqCont" cols="5" rows="1" placeholder="문의내용을 입력해주세요.(2000자 이내)" style="width:98%;height:280px;"></textarea>
                    </td>
                    <td>
                        <div class="filebox">

                            <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                            <label for="file">파일찾기</label>
                            <input type="file" id="file">


                            <p>※ 대표이미지(썸네일)을 선택해주세요.</p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th>답변등록알림(선택)</th>
                    <td>
                        <ul>
                            <li><input type="checkbox" name="sms" value="y">
                                <label>sms</label>
                                <select>
                                    <option>010</option>
                                    <option>02</option>
                                    <option>031</option>
                                    <option>0502</option>
                                </select><span>-</span>
                                <input type="tel"><span>-</span><input type="tel">
                            </li>
                            <li><input type="checkbox"><label>E-mail</label> <input type="email"><span>@</span><input type="email"></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="btn_wrap">
                <a href="#">등록</a>
                <a href="#">취소</a>
            </div>
        </article>
    </div>


</section>

<!-- 푸터 -->
<th:block th:replace="~{/fragments/fragment_footer :: footerFragment}" />
</body>
</html>