<!DOCTYPE html>
<html lang="ko">
<head>
    <th:block th:replace="~{/fragments/fragment_config :: configFragment}" />
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js" defer></script>
    <!--    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">-->
    <title>Grr-reung 그르릉 로그인</title>
</head>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">
<th:block th:replace="~{/fragments/fragment_header :: headerFragment}" />


<!-- login-form -->
<section class="bg-white py-8">
        <div class="login_container">
            <h1>LOGIN</h1>
            <!-- Form -->
            <form  action="/grrreung/login" method="post">
                <!-- id-->
                <div class="first-input input__block first-input__block">
                    <input type="text" id="memberId" name="memberId" placeholder="ID" class="input">
                </div>

                <!-- password-->
                <div class="input__block">
                    <input type="password" name="password" placeholder="Password" class="input">
                </div>


                <!-- log in button -->
                <button class="login__btn" type="submit">
                    LOGIN
                </button>
                <a class="signin__btn" onclick="location.href='http://localhost/grrreung/register'">
                    SIGN UP
                </a>

            </form>
            <!-- separator -->
            <div class="separator">
                <p>OR</p>
            </div>
            <!-- google button -->
            <button class="google__btn">
                <i class="fa fa-google"></i>
                Login with Google
            </button>
            <!-- google button -->
            <button class="kakao__btn">

                <img src="/media/img/kakaotalk_logo.png" alt="카카오톡아이콘" class="kakao_icon"> Login with Kakao
            </button>
        </div>

</section>

<!-- 푸터 -->
<th:block th:replace="~{/fragments/fragment_footer :: footerFragment}" />
</body>

</html>