<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- 공통 환경설정 -->
    <th:block th:replace="~{/fragments/fragment_config :: configFragment}" />
    <link rel="stylesheet" href="/css/notice.css">
    <title>그르르Grr - Q&A</title>
</head>
<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

<!-- 헤더 -->
<th:block th:replace="~{/fragments/fragment_header :: headerFragment}" />

<!-- 서브 타이틀 -->
<th:block th:replace="~{/fragments/fragment_subpage_title :: subpageTitleFragment(~{this :: title})}" >
    <h2 class="category-title" th:fragment="title">Q&A</h2>
</th:block>


<section class="bg-white py-8">

    <!-- board seach area -->
    <div id="board-search">
          <div class="container">
              <div class="search-window">
                  <form method="post">
                      <div class="search-wrap">
                          <label for="search" class="blind">Q&A 내용 검색</label>
                          <input id="search" type="search" name="searchValue" placeholder="검색어를 입력해주세요.">
                          <button type="submit" class="btn btn-dark searchBtn">검색</button>
                          <a class="btn btn-dark postBtn" style="right: -130px" href="/itemqna/create">문의하기</a>
                      </div>
                  </form>
              </div>
          </div>
    </div>

    <!-- board list area -->
    <div id="board-list">
          <div class="container">
              <table class="board-table">
                  <thead>
                  <tr>
                      <th scope="col" class="th-num">번호</th>
                      <th scope="col" class="th-title">제목</th>
                      <th scope="col" class="th-title">작성자</th>
                      <th scope="col" class="th-date">등록일</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="itemQna, status : ${list}">
                      <td th:text="${itemQna.qnaCode}"></td>
                      <td th:text="${itemQna.qnaTitle}"></td>
                      <td th:text="${itemQna.memberId}"></td>
                      <td th:text="${itemQna.qnaDate}"></td>
                  </tr>
                  </tbody>
              </table>
          </div>
    </div>
      
</section>

<!-- 푸터 -->
<th:block th:replace="~{/fragments/fragment_footer :: footerFragment}" />
</body>
</html>