<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- 공통 환경설정 -->
    <th:block th:replace="~{fragments/fragment_config :: configFragment}"/>

    <link rel="stylesheet" href="/css/notice.css">
    <link rel="stylesheet" href="/css/post.css">

    <title>그르릉Grr - 리뷰작성</title>
</head>
<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

<!-- 헤더 -->
<th:block th:replace="~{fragments/fragment_header :: headerFragment}"/>

<!-- 서브 타이틀 -->
<th:block th:replace="~{fragments/fragment_subpage_title :: subpageTitleFragment(~{this :: title})}">
    <h2 class="category-title" th:fragment="title">REVIEW</h2>
</th:block>


<section class="bg-white py-8 notice">
    <div class="container mx-auto items-centerpt-4 pb-12">
        <form class="qna" method="post"  enctype="multipart/form-data">
            <div>
                <ul>
                    <li><a href="#">상품 후기 작성</a></li>
                </ul>
            </div>
            <table>
                <colgroup>
                    <col style="width:25%">
                </colgroup>
                <tbody>
                <tr>
                    <th>
                        <label>상품</label>
                    </th>

                    <td>
                        <a th:href="@{/shop/item/{itemId}(itemId=${item.itemId})}">
                            <img class="hover:grow hover:shadow-lg" th:src="@{'/thumbnail/'+ ${item.itemId}}"
                                 width="80px" height="80px" style="margin: 5px 0; float: left">
                            <p class="name" style="float:left; margin-left: 10px;" th:text="${item.itemName}"></p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>제목</label>
                    </th>
                    <td>
                        <input name="revTitle" placeholder="제목을 입력하세요" style="width:98%;height:40px;">
                    </td>
                </tr>

                <tr>

                    <th>내용</th>
                    <td>
                        <textarea id="InputTextarea" name="revCont" cols="5" rows="1"
                                  placeholder="상품후기 내용을 입력해주세요.(2000자 이내)" style="width:98%;height:280px;"></textarea>
                    </td>
                    <td>
                        <div class="filebox">
                            <input  onchange="checkFileSize(); previewImage(this);" class="upload-name" type="file" accept=".jpg, .png, .gif"  id="revImg" name="revImg"  placeholder="첨부파일">
                            <label for="revImg">파일찾기</label>
                            <img id="imagePreview" style="max-width: 200px; max-height: 200px; margin-top: 10px;" alt="Preview"/>
                            <p>※ 5MB 이하의 이미지 파일 (JPG, PNG, GIF) 1개를 첨부하실 수 있습니다.</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="btn_wrap">
                <button type="submit">등록</button>
                <button type="button" onclick="window.location.href='/itemrev'">취소</button>
            </div>
        </form>
    </div>
</section>

<!-- 푸터 -->
<th:block th:replace="~{fragments/fragment_footer :: footerFragment}"/>
<script src="/js/itemRev.js"></script>
</body>
</html>