<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.ezen.grrreung.domain.order.mapper.OrderMapper">
	
	<insert id="create" parameterType="OrderGr">
		INSERT INTO order_gr(order_id, member_id)
		VALUES(ordergr_seq.NEXTVAL, #{memberId})
		
		<selectKey keyProperty="orderId" resultType="int" order="AFTER">
			SELECT orders_seq.CURRVAL FROM dual 
		</selectKey>
	</insert>
	
	<update id="updatePayStatus" parameterType="OrderGr">
		UPDATE orders
		SET pay_status = #{payStatus}
		WHERE order_id = #{orderId}
	</update>

<!--	주문내역조회-->
	<select id="orderHistoryByMember" parameterType="String" resultType="map" >
		SELECT
			g.order_id,
			g.order_date,
			g.order_status,
			g.order_price_all,
			oi.order_amount,
			oi.order_price,
			i.item_name
		FROM
			order_gr g
				JOIN order_item oi ON g.order_id = oi.order_id
				JOIN item       i ON oi.item_id = i.item_id
		WHERE
			member_id = #{memberId};
	</select>
	
</mapper>

