<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.ezen.grrreung.domain.board.mapper.ItemQnaMapper">
<!--게시글등록-->
	<insert id="create" parameterType="ItemQna">
        INSERT INTO item_qna (
            qna_code,
            item_id,
            qna_title,
            qna_cont,
            member_id
        ) VALUES (
                     item_qna_seq.NEXTVAL,
                     101,
                     #{qnaTitle},
                     #{qnaCont},
                     'member001'
                 )
	</insert>

    <!-- 전체리스트 및 검색 리스트-->
    <select id="postList" parameterType="RequestParams" resultType="ItemQna">
        SELECT
        qna_code,
        qna_title,
        qna_cont,
        member_id,
        qna_date
        FROM
        (
        SELECT
        ceil(ROWNUM / #{elementSize})  page,
        qna_code,
        qna_title,
        qna_cont,
        member_id,
        qna_date
        FROM
        (
        SELECT
        qna_code,
        qna_title,
        qna_cont,
        member_id,
        to_char(qna_date, 'yyyy-MM-DD HH24:MI:SS') qna_date
        FROM
        item_qna
        <where>
            <if test="search != null">
                qna_title LIKE '%' || #{search} || '%'
                OR member_id LIKE '%' || #{search} || '%'
            </if>
        </where>
        ORDER BY
        qna_code DESC
        )
        )
        WHERE
        page = #{requestPage}

    </select>

    <!--전체리스트 행갯수-->
    <select id="postListCount" parameterType="RequestParams" resultType="int">
        SELECT COUNT(*) count
        FROM item_qna
        <where>
            <if test="search != null">
                qna_title LIKE '%' || #{search} || '%'
                OR qna_date LIKE '%' || #{search} || '%'
            </if>
        </where>
        order by qna_code DESC
    </select>

<!--상세보기-->
    <select id="findByBno" parameterType="int" resultType="ItemQna">
        SELECT qna_code,
               qna_title,
               qna_cont,
               member_id,
               TO_CHAR(qna_date, 'yyyy-MM-DD HH24:MI:SS') qna_date
        FROM item_qna
        WHERE qna_code = #{qnaCode}
    </select>

    <!-- 문의 답변 등록 -->
    <insert id="createRe" parameterType="ItemQnaRe" >
        INSERT INTO item_qna_re (
            re_code,
            qna_code,
            re_cont
        ) VALUES (
                     item_qna_re_seq.NEXTVAL,
                     #{qnaCode},
                     #{reCont}
                 )
        <selectKey keyProperty="reCode" resultType="int" order="AFTER">
            SELECT item_qna_re_seq.CURRVAL FROM dual
        </selectKey>
    </insert>
    <!-- 등록된 답변 가져오기 -->
    <select id="getQnaRe" parameterType="int" resultType="ItemQnaRe">
        SELECT
            *
        FROM
            item_qna_re
        where re_code = #{reCode}
    </select>
</mapper>

