<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.ezen.grrreung.domain.board.mapper.NoticeMapper">
<!--게시글등록-->
	<insert id="create" parameterType="Notice">
		INSERT INTO notice (
			noti_code,
			noti_title,
			noti_cont
		) VALUES (
					 notice_seq.NEXTVAL,
					 #{notiTitle},
					 #{notiCont}
				 )
	</insert>

<!-- 전체리스트 및 검색 리스트-->
	<select id="postList" parameterType="RequestParams" resultType="Notice">
		SELECT
			noti_code,
			noti_title,
			noti_cont,
			noti_auth,
			noti_date
		FROM
			(
				SELECT
					ceil(ROWNUM / #{elementSize})  page,
					noti_code,
					noti_title,
					noti_cont,
					noti_auth,
					noti_date
				FROM
					(
						SELECT
							noti_code,
							noti_title,
							noti_cont,
							noti_auth,
							to_char(noti_date, 'yyyy-MM-DD HH24:MI:SS') noti_date
						FROM
							notice
					<where>
						<if test="search != null">
							noti_title LIKE '%' || #{search} || '%'
							OR noti_date LIKE '%' || #{search} || '%'
						</if>
					</where>
						ORDER BY
							noti_code DESC
					)
			)
		WHERE
			page = #{requestPage}

	</select>
<!--전체리스트 행갯수-->
	<select id="postListCount" parameterType="RequestParams" resultType="int">
		SELECT COUNT(*) count
		FROM notice
		<where>
			<if test="search != null">
				noti_title LIKE '%' || #{search} || '%'
				OR noti_date LIKE '%' || #{search} || '%'
			</if>
		</where>
		order by noti_code DESC
	</select>
<!--검색리스트-->
	<select id="searchList" parameterType="String" resultType="Notice">
		SELECT *
		FROM notice
		WHERE
			noti_title LIKE '%' || #{searchValue} || '%'
		   OR noti_auth LIKE '%' || #{searchValue} || '%'
		order by noti_code DESC
	</select>
<!--	상세보기-->
	<select id="findByBno" parameterType="int" resultType="Notice">
		SELECT noti_code,
			   noti_title,
			   noti_cont,
			   noti_auth,
			   TO_CHAR(noti_date, 'yyyy-MM-DD HH24:MI:SS')  noti_date
		FROM notice
		WHERE noti_code = #{notiCode}
	</select>



	
</mapper>

