<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

<th:block th:fragment="subpageTitleFragment">
    <section class="bg-white py-8 notice">
        <div class="container mx-auto items-center flex-wrap pt-4 pb-12">

            <!-- /* 페이지 내부 서브 타이틀 */ -->
            <th:block th:replace="${title}" />

            <div class="w-full container mx-auto mt-0 px-2 py-3 ">
                <div class="category-button button_wrap flex itmes-center">
                    <a href="/notice">NOTICE</a>
                    <a href="/faq">FAQ</a>
                    <a href="/itemqna">Q&A</a>
                    <a href="/itemrev">REVIEW</a>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>
