<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>파일 업로드</title>
</head>
<body>
	<h2>Spring MVC 파일 업로드 연습</h2>
	<form method="post" enctype="multipart/form-data">
		<input type="file" name="uploadfiles" multiple><br>
		<input type="text" name="uploader" placeholder="작성자"><br>
		<input type="text" name="description" placeholder="파일설명"><br>
		<button type="submit">업로드</button>
	</form>
</body>
</html>
