@charset "utf-8";


/*html, body{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    color: #222;*/
/*}*/

a{
    text-decoration: none;
}

p, li, a{
    font-size: 14px;
}

/* GRID */

.twelve { width: 100%; }
.eleven { width: 91.53%; }
.ten { width: 83.06%; }
.nine { width: 74.6%; }
.eight { width: 66.13%; }
.seven { width: 57.66%; }
.six { width: 49.2%; }
.five { width: 40.73%; }
.four { width: 32.26%; }
.three { width: 23.8%; }
.two { width: 15.33%; }
.one { width: 6.866%; }

/* COLUMNS */

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
    margin-left: 0;
}



/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}



/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-item {
    list-style: none;
    margin-right: 5px;
}

.page-link {
    display: block;
    padding: 10px 14px;
    color: #FFC924;
    text-align: center;
    text-decoration: none;
    border: 2px solid #FFC924;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px; /* Adjust font size as needed */
}

.page-link:hover {
    background-color: #FFC924;
    color: #fff;
}

.page-item.active .page-link {
    background-color: #FFC924;
    color: #fff;
    border: 2px solid #FFC924;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
}

/* Optional: Additional Styling for Navigation Buttons */
.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 6px;
}

.page-item:first-child .page-link:hover,
.page-item:last-child .page-link:hover {
    background-color: #FFC924;
    color: #fff;
}

[name="itemName"] {
    width: 180px;
    border: 1px solid #888;
    margin-left: 50px;
}