body {
    background: #f5f5f5;
    margin-top: 20px;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}


.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

form {
    width: 70%;

}


/*-------------------------------------------------------------*/

.accordian-container {
    width: 95%;
    height: 95%;
    margin: 5px auto;
    margin-top: 30px;
}

.accordian-item {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.accordian-title {
    padding: 23px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #FFC924;
    border-radius: 4px 4px 0 0;
}

.left {
    display: flex;
}

.title {
    font-weight: 700;
    margin-right: 10px;
    color: #000;
}

.total {
    font-weight: 700;
    margin-left: 30px;
    color: #000;
}

.showhide {
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

.accordian-content {
    border-radius: 0 0 4px 4px;
    height: 0;
    overflow: hidden;
}

.accordian-footer {
    padding: 23px;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
}

.status {
    color: #000;
    margin-right: 20px;
    display: flex;
}

.success {
    margin-left: 5px;
    color: #000;
    font-weight: bold;
}

.date {
    font-size: 14px;
    color: #000;
}

/* 추가한 스타일 */
.item {
    border-bottom: 1px solid #000;
}

.qty,
.product,
.price,
.returns {
    padding: 23px;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.product img {
    border-radius: 4px;
    margin-right: 10px;
}

.warning {
    color: #E81C3B;
    font-family: Arial;
    font-size: 14px;
    margin-top: 10px;
}

.item-wrapper {
    display: flex;
    align-items: center;
}

.qty {
    flex: 0 0 63px;
    text-align: center;
}

.product {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.price {
    flex: 0 0 90px;
    text-align: right;
}

.returns {
    flex: 0 0 135px;
    text-align: center;
    font-size: 14px;
}



