<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .xxx {
            background-color: aqua;
        }
    </style>
</head>
<body>
<p th:text="${message}">정적 메시지</p>
<p th:utext="${message}">정적 메시지</p>
<p>[[${message}]]</p>

<div>
    <span th:text="${item.productId}">상품번호</span>
    <span th:text="${item['name']}">상품이름</span>
    <span th:text="${item.getPrice()}">가격</span>
</div>

<!--/* 타임리프 주석 */-->

<!--/* 리터럴 표현식 */-->
<p th:text="'김기정 바보'">기본 메시지</p>

<!--/* 템플릿 문자열 */-->
<p th:text="'김기정' + '바보' + ${message} ">기본 메시지</p>
<p th:text="|김기정 바보 ${message}|">기본 메시지</p>


<p th:text="10">기본 메시지</p>
<p th:text="10 + 10">기본 메시지</p>
<p th:text="10 + '10'">기본 메시지</p>

<div th:with="a=1, b=2">
    <sp th:text="${a} + ${b}">기본메시지</sp>
</div>

<!--/* 연산자 */-->

<p th:text="10 + 20">값</p>
<p th:text="10 % 2 == 0">값</p>
<p th:text="(10 % 2 == 0) ? '짝수' : '홀수'">값</p>

<p th:text="${message} ? ${message} : '디폴트메시지'">값</p>
<p th:text="${message2} ?: '디폴트메시지'">값</p>
<p th:text="${message2} ?: _">ㅇㅇㅇㅇㅇ</p>

<!--/* 조건문 */-->
<p th:if="${score} >= 60" th:text="통과">????</p>
<p th:if="${score} < 60" th:text="실패">????</p>

<div th:switch="${score / 10}">
    <p th:case="10" th:text="수">점수</p>
    <p th:case="9" th:text="수">점수</p>
    <p th:case="8" th:text="우">점수</p>
    <p th:case="7" th:text="미">점수</p>
    <p th:case="6" th:text="양">점수</p>
    <p th:case="*" th:text="가">점수</p>
</div>

<h2>상품 목록</h2>
<table border="1" th:border="3">
    <tr th:each="item : ${list}">
        <td th:text="${productStat.count}">일련번호</td>
        <td th:text="${item.productId}">상품번호</td>
        <td th:text="${item.name}">상품이름</td>
        <td th:text="${item.price}">상품가격</td>
    </tr>
</table>

<h2>상품 목록</h2>
<table border="1" th:border="3">
    <tr th:each="item : ${list}" th:object="${item}">
        <td th:text="${productStat.count}">일련번호</td>
        <td th:text="*{productId}">상품번호</td>
        <td th:text="*{name}">상품이름</td>
        <td th:text="*{price}">상품가격</td>
    </tr>
</table>

<p th:text="${#strings}"></p>
<p th:text="${#numbers}"></p>
<p th:text="${#dates}"></p>
<p th:text="${#maps}"></p>
<p th:text="${#lists}"></p>
<p th:text="${#arrays}"></p>
<p th:text="${param.name}"></p>
<p th:text="${session.loginId}"></p>
<p th:text="${#servletCotext}"></p>

<p th:text="${num}"></p>

<!--/* 구구단 출력 */-->
<table border="1">
    <tr th:each="i : ${#numbers.sequence(2, 9)}">
        <td th:each="j : ${#numbers.sequence(1, 9)}" th:text="|${i} * ${j} = ${i*j}|">
        </td>
    </tr>
</table>

<!--/* 스프링 빈컨테이너에 의해 관리되는 객체 접근 */-->
<p th:text="${@helloController}"></p>

<a th:href="@{hello/a}">링크</a>
<a th:href="@{hello/b/c(id=${id}, name='김기정')}">링크</a>
<a th:href="@{hello/{id}/{name}(id='bangry', name='김기정')}">링크</a>
<a th:href="@{hello/{id}(id='bangry', name='김기정')}">링크</a>


<img src="/a/b/c.jpg" th:src="@{a/b/c}" th:width="100">
<img  th:attrappend="src='aa/bc'">
<div th:if="true" th:classappend="xxx">어떤 내용</div>

남자인가? <input type="checkbox" name="active" th:checked="${isMan}" />


<th:block th:each="item : ${list}">
    <h2 th:text="${item.name}">상품명</h2>
    <p th:text="${item.productId}">상품번호</p>
    <p th:text="${item.price}">상품가격</p>
</th:block>



<pre>









</pre>
</body>
</html>